<div class="table-wrap" role="region" aria-label="Data table">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let c of columns">
          <button
            *ngIf="c.sortable; else plain"
            type="button"
            class="th-btn"
            (click)="toggleSort(c.key)"
            [attr.aria-sort]="ariaSort(c.key)"
          >
            {{ c.header }}
          </button>
          <ng-template #plain>{{ c.header }}</ng-template>
        </th>
        <th *ngIf="actions" class="actions-col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of rows; trackBy: trackById">
        <td *ngFor="let c of columns">
          <ng-container
            *ngIf="c.cellTpl; else noTpl"
            [ngTemplateOutlet]="c.cellTpl"
            [ngTemplateOutletContext]="{ $implicit: row }"
          >
          </ng-container>

          <ng-template #noTpl>
            {{ c.cell ? c.cell(row) : c.key ? row[c.key] + "" : "" }}
          </ng-template>
        </td>

        <td *ngIf="actions" class="actions-col">
          <span class="actions">
            <ng-container
              *ngIf="actionsTemplate"
              [ngTemplateOutlet]="actionsTemplate"
              [ngTemplateOutletContext]="{ $implicit: row }"
            ></ng-container>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pager" *ngIf="total > 0">
    <button
      class="btn btn-sm"
      type="button"
      (click)="prev()"
      [disabled]="state.page <= 1"
    >
      Prev
    </button>
    <span class="pager_text">Page {{ state.page }} / {{ maxPage }}</span>
    <button
      class="btn btn-sm"
      type="button"
      (click)="next()"
      [disabled]="state.page >= maxPage"
    >
      Next
    </button>
    <span class="spacer"></span>
    <label class="pager_label">
      Page size
      <select
        class="select select-sm"
        [value]="state.size"
        (change)="changeSize($any($event.target).value)"
      >
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
      </select>
    </label>
  </div>
</div>
